@import url(https://fonts.googleapis.com/css?family=Inter:400,700,600);

/* Variables */

:root {
    --black: rgba(0, 0, 0, 1);
    --alto: rgba(217, 217, 217, 1);
    --text: rgba(255, 255, 255, 1);

    --font-size-s: 14px;
    --font-size-m: 20px;
    --font-size-l: 28px;
    --font-size-xl: 40px;

    --font-family-inter: "Inter";
}

/* Classes */

.inter-normal-black-14px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal
}

.inter-semi-bold-white-28px {
    color: var(--text);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-weight: 600;
    font-style: normal
}

.inter-semi-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal
}

.screen a {
    display: contents;
    text-decoration: none;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none; /* what does this even mean */
    width: 100%;
}

.container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
}

/* we'll probably have to change this with a media tag or something */
.iphone-14-1 {
    align-items: center;
    background-color: #fdfdfd;
    border: 1px none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.header {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    /* height: 89px; likely will change to a percentage */
    justify-content: flex-start;
    /* min-width: 418px; likely will change to a percentage */
    width: 100%;
}

.overlap-group4 {
    align-items: flex-end;
    background-color: var(--text);
    border: 1px solid;
    border-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    gap: 4px; /* likely will change to a percentage */
    min-height: 89px; /* likely will change to a percentage */
    padding: 14px 30px; /* likely will change to a percentage */
    width: 100%; /* likely will change to a percentage */
}

/* likely will change all of this to percentages */
.sort-by {
    letter-spacing: 0;
    line-height: normal;
    margin-right: 37px;
    margin-top: 14px;
    min-height: 17px;
    width: 67px;
}

.flex-row {
    align-items: flex-end;
    display: flex;
    gap: 30px; /* likely will change to a percentage */
    min-width: 343px; /* likely will change to a percentage */
}

.dining-informant {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    min-height: 22px; /* likely will change to a percentage */
    width: 174px; /* likely will change to a percentage */
}

.overlap-group {
    align-items: flex-start;
    border: 1px solid;
    border-color: var(--black);
    display: flex;
    gap: 6px; /* likely will change to a percentage */
    height: 26px; /* likely will change to a percentage */
    justify-content: flex-end;
    min-width: 139px; /* likely will change to a percentage */
    padding: 3px 7.4px; /* likely will change to a percentage */
}

.worth-the-wait {
    align-self: flex-end;
    letter-spacing: 0;
    line-height: normal;
    min-height: 19px; /* likely will change to a percentage */
    width: 99px; /* likely will change to a percentage */
}

.star-1 {
    height: 14px; /* likely will change to a percentage */
    margin-top: 1px; /* likely will change to a percentage */
    width: 17px; /* likely will change to a percentage */
}

.form {
    -webkit-backdrop-filter: blur(4px) brightness(100%);
    align-items: flex-end;
    backdrop-filter: blur(4px) brightness(100%);
    box-shadow: 0px 4px 4px #00000040; /* likely will change to a percentage */
    display: flex;
    height: 628px; /* likely will change to a percentage */
    margin-left: 10px; /* likely will change to a percentage */
}

.overlap-group2 {
    align-items: center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: -8px; /* likely will change to a percentage */
    margin-left: -4px; /* likely will change to a percentage */
    min-height: 636px; /* likely will change to a percentage */
    padding: 10px; /* likely will change to a percentage */
    width: 358px; /* likely will change to a percentage */
}

.share-your-experience {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 7px; /* likely will change to a percentage */
    min-height: 34px; /* likely will change to a percentage */
    min-width: 315px; /* likely will change to a percentage */
}

.which-dining-hall-did-you-go-to {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 5px; /* likely will change to a percentage */
    margin-top: 34px; /* likely will change to a percentage */
    min-height: 24px; /* likely will change to a percentage */
    min-width: 307px; /* likely will change to a percentage */
}

.overlap-group1 {
    align-items: center;
    background-color: var(--alto);
    display: flex;
    gap: 175px; /* likely will change to a percentage */
    height: 42px; /* likely will change to a percentage */
    justify-content: flex-end;
    margin-left: 3px; /* likely will change to a percentage */
    margin-top: 34px; /* likely will change to a percentage */
    min-width: 295px; /* likely will change to a percentage */
    padding: 0 8px; /* likely will change to a percentage */
}

.name {
    letter-spacing: 0;
    line-height: normal;
    min-height: 24px; /* likely will change to a percentage */
    min-width: 66px; /* likely will change to a percentage */
}

.line-container {
    height: 19px; /* likely will change to a percentage */
    margin-bottom: 0.19px; /* likely will change to a percentage */
    position: relative;
    width: 37px; /* likely will change to a percentage */
}

.how-many-minutes-did-you-wait {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 3px; /* likely will change to a percentage */
    margin-top: 45px; /* likely will change to a percentage */
    min-height: 24px; /* likely will change to a percentage */
    min-width: 317px; /* likely will change to a percentage */
}

.overlap-group-1 {
    align-items: center;
    background-color: var(--alto);
    display: flex;
    gap: 175px; /* likely will change to a percentage */
    height: 42px; /* likely will change to a percentage */
    margin-left: 3px; /* likely will change to a percentage */
    margin-top: 46px; /* likely will change to a percentage */
    min-width: 295px; /* likely will change to a percentage */
    padding: 0 9px; /* likely will change to a percentage */
}

.number {
    letter-spacing: 0;
    line-height: normal;
    min-height: 24px; /* likely will change to a percentage */
    min-width: 23px; /* likely will change to a percentage */
}

.how-would-you-rate-the-food {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 6px; /* likely will change to a percentage */
    margin-top: 54px; /* likely will change to a percentage */
    min-height: 24px; /* likely will change to a percentage */
    min-width: 288px; /* likely will change to a percentage */
}

.menu-rating {
    align-items: flex-start;
    display: flex;
    height: 61px; /* likely will change to a percentage */
    margin-left: 7px; /* likely will change to a percentage */
    margin-top: 19px; /* likely will change to a percentage */
    min-width: 311px; /* likely will change to a percentage */
    padding: 0 1.4px; /* likely will change to a percentage */
}

.star-1-1 {
    height: 55px; /* likely will change to a percentage */
    width: 55px; /* likely will change to a percentage */
}

.star {
    height: 55px; /* likely will change to a percentage */
    margin-left: 8px; /* likely will change to a percentage */
    width: 55px; /* likely will change to a percentage */
}

/* .overlap-group3 {
    align-items: flex-start;
    align-self: flex-start;
    background-image: 
} */