.cards {
  display: flex;
  flex-direction: column;
  padding: 1%;
  background-color: white;
   border-radius: 25px;

}

.cards * {
  /* border: solid 1px #000; */
}

.top {
  width: 100%;
  flex-direction: column;
}

.hall {
  /* height: 20%; */
}

.hallname {
  
  padding-bottom: 10%;
  width: 100%;
  font-family: 'Comfortaa', cursive;
  position: absolute;
  font-size: 100%;
  padding-left: 3%;
  font: bolder;

  
}

.hallpic {
  width: 100%;
  height: 100px;
  max-height: 100px; 
  overflow: hidden;
  border-radius: 25px;
  padding-bottom: 1%;
  position: relative;
  filter: blur(3px);
  /* filter: brightness(0) invert(1); */
}

.middle {
  width: 100%;
}

.middleleft {
  flex-direction: column;
  padding-left: 3%;
  width: 65%;
}

.middleright {
  flex-direction: column;
  justify-content: flex-end;
  width: 35%;
  padding-right: 3%;
  padding-bottom: 5%;
}

.featuredlabel {
  font-size: 3vw;
  font-weight: bolder;
  background: #452c63;
  /* padding: 2px; */
  width: 60%;
  border-radius: 25px;
  color: white;
  padding-left: 3%;
  padding-right: 3%;

}

.featureditems {
  flex-direction: column;
}

.item1 {
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  font-weight: bolder;
  font-size: 3vw;
  /* border: black; */
}

.item2 {
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  font-weight: bolder;
  font-size: 3vw;
}

.waitlabel {
  font-size: 3vw;
  font-weight: bolder;
  width: 65%;
  height: 65%;
  border-radius: 50%;
  background: green;
  text-align: center;
  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  padding-top: 2%;
 

  /* background: radial-gradient(
    circle at center,
    rgb(143, 188, 143) 50%,
    rgb(143, 188, 143)  50%,
    rgba(0, 128, 172, 0) 50%
    ); */
  /* padding-bottom: 25%; */
}
.waitlabel > p {
  margin: 0;
  /* font-size: 3 ww; */
}

.waittime {
  flex-direction: column;
  font-size: 10ww;
  font-size: 8vw;
  padding-top: 3%;

  /* padding-bottom: 5%; */
}

.waitscore {
  padding-top: 1%;
  padding-bottom: none;
  padding-left: 3%;
  padding-right: 3%;
  font-weight: bolder;
  /* font-size: 3ww; */
 
}

.more {
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  font-weight: bolder;
}

.bottom {
  padding-left: 3%;
  padding-top: 1%;
}

a {
  text-decoration: none;
  color: blue;
}

@media (min-width: 900px) {
  .cards {
    width: 100%;
  }
}
